.rr-template8-root {
  margin-top: 0;
}

.rr-template8-root .resume .resume-title {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #222222;
}

.rr-template8-root .resume .resume-item {
  padding: 0 0 5px 5px;
  margin-top: -2px;
  border-left: 2px solid #34b7a7;
  position: relative;
}

.rr-template8-root .resume .resume-item h4 {
    
  line-height: 5px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #1d685f;
  margin-bottom: 10px;
}

.rr-template8-root .resume .resume-item h5 {
  font-size: 5px;
  background: #effbf9;
  padding: 10px 10px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #34b7a7;
}

.rr-template8-root .resume .resume-item ul {
  padding-left: 20px;
}

.rr-template8-root .resume .resume-item ul li {
  padding-bottom: 5px;
}

.rr-template8-root .resume .resume-item:last-child {
  padding-bottom: 0;
}

.rr-template8-root .resume .resume-item::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
}