.accordion-item {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 12px;
}

.accordion-button {
  background-color: #083a6d;
  color: #dee2e6;
  font-size: 10px;
}

.accordion-body {
  padding: 2rem;
}
.accordion-body {
  padding: 2rem;
}

.form-label {
  font-weight: 500;
}

.img-thumbnail {
  border-radius: 8px;
}
.btn-success {
  background-color: #198754;
  border-color: #157347;
  transition: all 0.2s ease-in-out;
}

.btn-success:hover {
  background-color: #157347;
  transform: scale(1.03);
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  transition: transform 0.2s ease-in-out;
}

.accordion-button.collapsed::after {
  transform: rotate(-90deg);
}
